<div class="app">
  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Auth Form</a
        >
      </li>
      <li>
        <a
          routerLink="/credit-card"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Credit card</a
        >
      </li>
      <li>
        <a
          routerLink="/structural-directive"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Structural Directive
        </a>
      </li>
      <li>
        <a
          routerLink="/file-size"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Pipe
        </a>
      </li>
      <li>
        <a
          routerLink="/stock-inventory"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Reactive Forms
        </a>
      </li>
      <li>
        <a
          routerLink="/mail"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Routing
        </a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
  <!--<button (click)="destroyDynamicComponent()">Destroy</button>
  <ng-container
    [ngTemplateOutlet]="contentTemplate"
    [ngTemplateOutletContext]="{ title: ' Login', btnName: 'register' }"
  ></ng-container>-->
  <div #container></div>
  <ng-template #contentTemplate let-title="title" let-btnName="btnName">
    <h4>{{ title }}</h4>
    <button type="submit">{{ btnName }}</button>
  </ng-template>
</div>
